.navbar {
    position: fixed;
  
    top: 0;
  
    left: 0;
  
    width: 100%;
  
    padding: 28px 70px;
  
    display: flex;
  
    justify-content: space-between;
  
    align-items: center;
  
    z-index: 1000;
  
    backdrop-filter: blur(20px);
  
    background: rgba(5, 8, 22, 0.7);
  
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
  
  .logo {
    font-size: 42px;
  
    font-weight: 900;
  
    color: #00e5ff;
  }
  
  .nav-menu {
    display: flex;
  
    gap: 42px;
  
    list-style: none;
  }
  
  .nav-menu li {
    cursor: pointer;
  
    transition: 0.3s;
  }
  
  .nav-menu li:hover {
    color: #00e5ff;
  
    transform: translateY(-3px);
  }